* {
    box-sizing: border-box;
    max-width: 100%;
}

html,
body {
    height: 100%;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

a, abbr {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}