@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@300&family=Lora&display=swap');
$background-green: #20615B;
$background-orange: #DB7906;
$background-brown: #B46100;
$background-yellow: #F3BE03;
$background-dark_blue: #1A1831;
$green: #20615B;
$orange: #DB7906;
$font_color: #2B2B2B;
$mobile_content_width: 350px;
$mobile_content_padding: 5.12821%;
$desktop_content_width: 1215px;
$desktop_content_padding: 353px;
$text-color1: #2B2B2B;
$text-color2: #FFFFFF;
$header-font: 'Inika',
serif;
$body-font: 'Inter',
sans-serif;
$font-weights: ( "regular": 400,
"medium": 500,
"bold": 700,
);