$background-green: #20615B;
$background-orange: #DB7906;
$background-brown: #B46100;
$background-yellow: #F3BE03;
$background-dark_blue: #1A1831;
$text-color1: #2B2B2B;
$text-color2: #FFFFFF;
$header-font: 'Inika', serif;
$body-font: 'Inter', sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
