@import url('https://fonts.googleapis.com/css2?family=Inika&family=Inter&display=swap');
@import './variables';
@import './mixins';
@import './reset';
body {
    * {
        @include font-basic;
        font-size: 17px;
        line-height: 130%;
        font-weight: 400;
        font-style: normal;
        color: $font_color;
    }
}

.page-wrapper {
    max-width: 100%;
}

header {
    background: $green;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    h1 {
        @include headers-style;
        font-size: 20px;
        line-height: 130%;
        display: inline-block;
        padding: 15px 64.5px;
        background: white;
        text-transform: uppercase;
    }
    h2 {
        @include headers-style;
        color: white;
        margin: 24px 0 0;
        abbr {
            display: inline-block;
            color: inherit;
            font: inherit;
            line-height: 110%;
            text-decoration: none;
            border-bottom: 5px dashed #1A1831;
        }
    }
}

.summary {
    $padding_top: 32.82051%; // 128px height on 390px width
    $leaf_size: 25.64103%; // 100px on 390px width
    @mixin leafs_style {
        content: '';
        position: absolute;
        z-index: 2;
        top: 5.265%;
        width: $leaf_size;
        padding-top: $leaf_size;
        background-size: contain;
        background-repeat: no-repeat;
    }
    position: relative;
    z-index: 1;
    padding-top: $padding_top;
    overflow: hidden;
    p {
        padding: 30px $mobile_content_padding 0;
        margin: 0;
        background: #FFF8E1;
        z-index: 3;
        abbr {
            text-decoration: none;
        }
    }
    p+p {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: $padding_top;
        background-image: url('./images/summary_bg.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &::after {
        left: 4.10256%;
        background-image: url('./images/leaf_1.svg');
        @include leafs_style;
        animation: rotating 12s 1s linear infinite;
    }
    p:first-child {
        position: relative;
        z-index: 3;
    }
    p:nth-child(2) {
        &::before {
            left: 37.69231%;
            background-image: url('./images/leaf_2.svg');
            @include leafs_style;
            transform-origin: center bottom;
            animation: rotateZ 12s 1s ease-in-out infinite;
        }
        &::after {
            right: 3.6%;
            background-image: url('./images/leaf_3.svg');
            @include leafs_style;
            animation: scroll 12s 1s ease-in-out infinite;
        }
    }
}

.preamble {
    padding: 30px $mobile_content_padding 30px;
    h3 {
        @include headers-style;
        color: $orange;
    }
    p {
        margin-top: 15px;
    }
}

.supporting {
    padding-top: 365px;
    background: url('./images/support_bg.jpg') top no-repeat;
}

.explanation,
.participation {
    padding: 30px 20px 0;
    h3 {
        @include headers-style;
        color: $orange;
    }
    p {
        margin-top: 10px;
    }
    @media screen and (min-width:420px) {
        // desktop styles
    }
}

// jesse

/********************
   * Benefit Section
   *******************/

.benefits {
    background: $background-yellow;
    color: $text-color1;
    $padding_bottom: 32.82051%; // 128px height on 390px width
    $leaf_size: 25.64103%; // 100px on 390px width
    @mixin leafs_style {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 2.265%;
        width: $leaf_size;
        padding-top: $leaf_size;
        background-size: contain;
        background-repeat: no-repeat;
    }
    position: relative;
    z-index: 1;
    padding-bottom: $padding_bottom;
    p {
        margin: 0;
        background: $background-yellow;
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        right: -33.6%;
        bottom: -136px;
        width: 100%;
        padding-top: $padding_bottom;
        background-image: url("./images/benefits_bg.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(90deg);
    }
    &::after {
        // left: 4.10256%;
        // position: absolute;
        right: 3.5%;
        background-image: url("./images/leaf_1.svg");
        @include leafs_style;
        animation: rotating 12s 1s linear infinite;
    }
}


/********************
   * Requirements Section
   *******************/

.requirements {
    background: $background-dark_blue;
    color: $text-color2;
}

@media only screen and (min-width: 420px) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        max-width: 100%;
        max-width: 1200px;
        .benefits {
            padding-left: 150px;
            &::before {
                bottom: -114px;
            }
        }
        .requirements {
            position: relative;
            column-count: 3;
            padding-right: 150px;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0.5em;
                z-index: -1;
            }
            h3 {
                column-span: all;
            }
            p {
                padding: 5px;
            }
        }
    }
}

// Elizabeth
footer {
    background-color: $green;
    margin-top: 20rem;
    padding-bottom: 0.5em;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 3rem;
    a {
        color: white;
        padding-top: 1rem;
        text-decoration: none;
        line-height: 130%;
        font-weight: 400;
        font-style: normal;
    }
}

aside {
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    padding: 40px $mobile_content_padding 40px;
    background-color: $orange;
    h3 {
        @include headers-style();
        color: white;
    }
    li {
        list-style-type: none;
        a {
            text-decoration: none;
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7rem;
    }
}

@media only screen and (max-width: 1170px) {
    footer {
        margin-top: 45rem;
    }
    aside {
        align-content: center;
        .wrapper {
            flex-direction: column;
            gap: 2.5rem;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 425px) {
    footer {
        margin-top: 47rem;
        gap: 1rem;
    }
    aside {
        padding: 0 0 0 1rem;
        .wrapper {
            align-items: flex-start;
        }
    }
}