@import "./resets";
@import "./variables";

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  * {
    // @include font-basic;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    // color: $font_color;
    padding: 0 5px;
  }
}

/********************
 * Page Container
 *******************/
.page-wrapper {
  max-width: 100%;

  // .intro {
  //   /********************
  //  * Header
  //  *******************/
  //   header {
  //     display: flex;
  //     background: $background-green;
  //     color: white;
  //     width: 390px;
  //     height: 300px;
  //     font-size: 15px;
  //     font-family: $header-font;
  //     font-weight: 400;
  //     justify-content: center;
  //     align-items: center;

  //     &[role="banner"] {
  //       display: flex;
  //       flex-direction: column;
  //     }
  //     h1 {
  //       display: flex;
  //       width: 75%;
  //       height: 55px;
  //       font-size: 25px;
  //       font-weight: 100;
  //       background: white;
  //       color: black;
  //       justify-content: center;
  //       align-items: center;
  //       text-align: center;
  //       text-transform: uppercase;
  //     }
  //     h2 {
  //       padding: 15px 37px 0 37px;
  //       font-size: 50px;
  //       font-weight: 200;
  //       color: black;
  //       text-align: center;
  //       // background: transparent url(beauty.gif) no-repeat top left;
  //     }
  //   }
  //   /********************
  //  * Summary Section
  //  *******************/
  //   .summary {
  //     [role="article"] {
  //     }
  //     p {
  //     }
  //   }
  // }

  // //main class
  // // supporting class
  // //[role=main]{};

  // /********************
  //  * Explanation Section
  //  *******************/
  // .explanation {
  //   [role="aticle"] {
  //     h3 v {
  //     }
  //     p {
  //     }
  //   }
  // }

  /********************
   * Participation Section
   *******************/
  // .participation {
  //   [role="aticle"] {
  //     h3 {
  //     }
  //     p {
  //     }
  //   }
  // }

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  h3 {
    font-family: "Inika", serif;
    font-size: 48px;
  }

  .benefits,
  .requirements {
    padding: 5px;
  }

  /********************
   * Benefit Section
   *******************/
  .benefits {
    background: $background-yellow;
    color: $text-color1;
    $padding_bottom: 32.82051%; // 128px height on 390px width
    $leaf_size: 25.64103%; // 100px on 390px width
    @mixin leafs_style {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: 5.265%;
      width: $leaf_size;
      padding-top: $leaf_size;
      background-size: contain;
      background-repeat: no-repeat;
    }

    position: relative;
    z-index: 1;
    padding-bottom: $padding_bottom;

    p {
      margin: 0;
      background: $background-yellow;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      right: -66.6%;
      bottom: 0;
      width: 100%;
      padding-top: $padding_bottom;
      background-image: url("./images/benefits_bg.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after {
      // left: 4.10256%;
      right: 3.5%;
      background-image: url("./images/leaf_1.svg");
      @include leafs_style;
      animation: rotating 12s 1s linear infinite;
    }
  }

  /********************
   * Requirements Section
   *******************/
  .requirements {
    background: $background-dark_blue;
    color: $text-color2;
  }
  // [role="article"] {
  //   h3 {
  //   }
  //   p {
  //     [role="contentinfo"] {
  //     }
  //   }
  // }
}

// footer {
// }

// continue from line 252 in the html file.
// }

/********************
 * URL CSS Code - If we don't want it nested somewhere else
 *******************/
a {
  &:link {
    color: $background-orange;
    text-decoration: none;
  }
  &:visited {
    color: $background-yellow;
  }
  &:hover {
    border-bottom: 1px solid $background-brown;
  }
  &:active {
    color: $background-green;
  }
}

// abbr[title="Cascading Style Sheets"] {
//   text-decoration-style: dashed;
// }

@media only screen and (min-width: 420px) {
  .page-wrapper {
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;

     .benefits {
      
     }

    // .requirements {
    // #zen-requirements {
    //   display: grid;
    //   grid-template-columns: repeat(3, 1fr);
    //   grid-gap: 20px; /* adjust as needed */
    // }

    // 
    
    // }
  }
}