@import url("https://fonts.googleapis.com/css2?family=Inika&family=Inter&display=swap");
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-80%);
    }
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(80%);
    }
    90% {
        transform: translateY(0);
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body * {
    font-family: Inter, sans-serif;
    font-size: 17px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    color: #2B2B2B;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.page-wrapper {
    max-width: 100%;
}

header {
    background: #20615B;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

header h1 {
    font-family: Inika, serif;
    font-size: 48px;
    line-height: 100%;
    font-size: 20px;
    line-height: 130%;
    display: inline-block;
    padding: 15px 64.5px;
    background: white;
    text-transform: uppercase;
}

header h2 {
    font-family: Inika, serif;
    font-size: 48px;
    line-height: 100%;
    color: white;
    margin: 24px 0 0;
}

header h2 abbr {
    display: inline-block;
    color: inherit;
    font: inherit;
    line-height: 110%;
    text-decoration: none;
    border-bottom: 5px dashed #1A1831;
}

.summary {
    position: relative;
    z-index: 1;
    padding-top: 32.82051%;
}

.summary p {
    padding: 30px 5.12821% 0;
    margin: 0;
    background: #FFF8E1;
}

.summary p abbr {
    text-decoration: none;
}

.summary p+p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.summary::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 32.82051%;
    background-image: url("./images/summary_bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.summary::after {
    left: 4.10256%;
    background-image: url("./images/leaf_1.svg");
    content: "";
    position: absolute;
    z-index: 3;
    top: 5.265%;
    width: 25.64103%;
    padding-top: 25.64103%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotating 12s 1s linear infinite;
}

.summary p:first-child::before {
    left: 37.69231%;
    background-image: url("./images/leaf_2.svg");
    content: "";
    position: absolute;
    z-index: 3;
    top: 5.265%;
    width: 25.64103%;
    padding-top: 25.64103%;
    background-size: contain;
    background-repeat: no-repeat;
}

.summary p:first-child::after {
    right: 3.6%;
    background-image: url("./images/leaf_3.svg");
    content: "";
    position: absolute;
    z-index: 3;
    top: 5.265%;
    width: 25.64103%;
    padding-top: 25.64103%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: scroll 15s 1s linear infinite;
}

.preamble {
    padding: 30px 5.12821% 30px;
}

.preamble h3 {
    font-family: Inika, serif;
    font-size: 48px;
    line-height: 100%;
    color: #DB7906;
}

.preamble p {
    margin-top: 15px;
}


/*# sourceMappingURL=style.css.map */


/********************
 * Page Container
 *******************/

.page-wrapper {
    margin: 5px;
    width: 390px;
    /********************
   * Explanation Section
   *******************/
    /********************
   * Participation Section
   *******************/
    /********************
   * Benefit Section
   *******************/
    /********************
   * Requirements Section
   *******************/
}

.page-wrapper .intro {
    /********************
  * Header
  *******************/
    /********************
  * Summary Section
  *******************/
}

.page-wrapper .intro header {
    display: flex;
    background: #20615B;
    color: white;
    width: 390px;
    height: 300px;
    font-size: 15px;
    font-family: "Inika", serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.page-wrapper .intro header[role=banner] {
    display: flex;
    flex-direction: column;
}

.page-wrapper .intro header h1 {
    display: flex;
    width: 75%;
    height: 55px;
    font-size: 25px;
    font-weight: 100;
    background: white;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.page-wrapper .intro header h2 {
    padding: 15px 37px 0 37px;
    font-size: 50px;
    font-weight: 200;
    color: black;
}


/********************
 * URL CSS Code - If we don't want it nested somewhere else
 *******************/

abbr[title="Cascading Style Sheets"] {
    text-decoration-style: dashed;
}


/*# sourceMappingURL=style.css.map */